.footer-wrapper {
    max-width: 1000px;
    height: 650px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10rem;
    
}


.git-img {
    max-width: 15%;
    height: auto;
    /* border: 1px solid black; */
    
}

.linked-img {
    max-width: 10%;
    height: auto;
    /* border: 1px solid black; */
    
}

.dev-img {
    max-width: 15%;
    height: auto;
}

a {
    padding: 0;
    padding-right: 0;
}

