.footer-wrapper {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.container {
   
   display: flex;
    justify-content: space-between;
   
   
   border: 1px solid orange;
   
    
}

.git-img {
    max-width: 23%;
    height: auto;
    border: 1px solid black;
    
}

.linked-img {
    max-width: 10%;
    height: auto;
    border: 1px solid black;
    
}

a {
    padding: 0;
    padding-right: 0;
}

